.chat-bar {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    position: fixed;
    right: 20px;
    bottom: calc(50% - 150px);
    width: 55px;
    height: 300px;
    background-color: #132f5b;
    border-radius: 3px;
    z-index: 10000;
    animation: ocAnimation-barShow .5s ease;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 15px 35px 0 rgba(100, 100, 100, 0.3);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bar-outerPanel-text {
    transform: rotate(-90deg);
    height: 190px;
    width: 180px;
    line-height: 52px;
    text-align: center;
    color: white;
    position: absolute;
    left: 5px;
    top: 55px;
    letter-spacing: .8px;
    font-size: 22px;
    font-weight: 100 !important;
}

.bar-outerPanel-ico {
    height: 60px;
    width: 55px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 22px;
}

.bar-innerPanel {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    opacity: 0;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .1s ease-in-out;
}

.bar-innerPanel-webChat {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    transition: background-color .2s ease-in-out;
}

.bar-innerPanel-webChat:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.bar-innerPanel-webChat:hover + * {
    display: block;
}

.bar-innerPanel-webChat-tooltip {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;
    color: white;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 10px;
    right: calc(100% + 10px);
    top: calc(33.333% - 25%);
    border-radius: 5px;
    width: 110px;
}

.bar-innerPanel-webChat-tooltip:before {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    content: '';
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 100%;
    top: 33%;
}

.bar-innerPanel-webChat-tooltip:hover {
    display: block;
}

.bar-innerPanel-webChat-tooltip {
    top: calc(15% - 24px);
}

.ocWidget-text {
    font-size: 1.5em;
    font-weight: 100;
    color: #2B2B2B;
}

.BA_chat {
    font-size: 13px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    z-index: 100000;
    position: fixed;
    right: 20px;
    bottom: 20px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(100, 100, 100, 0.3);
    height: 470px;
    width: 300px;
    border-radius: 3px;
    transition: transform .3s ease, box-shadow .3s ease;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .BA_chat {
        border-radius: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
    .BA_chat {
        border-radius: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }
}

.BA_chat_top {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    padding-bottom: 10px !important;
    text-align: center;
    background-color: #132f5b;
    padding: 0 55px;
    z-index: 100000;
    border-radius: 3px 3px 0 0;
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .BA_chat_top {
        border-radius: 0;
    }
}

.BA_chat_top:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 6px;
    right: 17px;
    background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, white 80%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(50%, white), color-stop(80%, rgba(255, 255, 255, 0.1)));
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, white 80%);
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, white 80%);
    background: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, white 80%);
    background: linear-gradient(to top, rgba(255, 255, 255, 0.1) 0%, white 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
    z-index: 15;
    pointer-events: none;
}

.BA_chat_top-icoX {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 55px;
    transition: background-color .1s ease;
}

.BA_chat_top-icoX:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
    .BA_chat_top-icoX:hover {
        background: none;
    }
}

.BA_chat_top-icoX:before {
    position: absolute;
    content: '';
    transform: rotate(-45deg);
    background-color: #fff;
    height: 2px;
    width: 26px;
    right: calc(50% - 14px);
    top: calc(50% - 1px);
}

.BA_chat_top-icoX:after {
    position: absolute;
    content: '';
    transform: rotate(45deg);
    background-color: #fff;
    height: 2px;
    width: 26px;
    right: calc(50% - 14px);
    top: calc(50% - 1px);
}

.BA_chat_top-allHeading {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.BA_chat_mid {
    overflow: hidden;
    z-index: 9999;
    position: absolute;
    top: 36px;
    bottom: 78px;
    right: 0;
    left: 0;
    background-color: #FFF;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.BA_chat_mid_msg {
    background-color: #FFF;
    padding: 20px 0 0;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.BA_chat_mid_msg_receivedMessage {
    width: 100%;
    text-align: left;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.BA_chat_mid_msg_receivedMessage_message {
    text-align: left;
    position: relative;
    margin-left: 15px;
    max-width: 80%;
    float: left;
}

.BA_chat_mid_msg_receivedMessage_message-text {
    color: white;
    background: #132f5b;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 10px;
    word-wrap: break-word;
    word-break: break-word;
    line-height: 1.3;
}

.BA_chat_mid_msg_receivedMessage_message-text a {
    color: white;
    font-size: 1em;
    word-break: break-word;
    text-decoration: underline;
}

.BA_chat_mid_msg_sentMessage {
    width: 100%;
    text-align: left;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.BA_chat_mid_msg_sentMessage_message {
    text-align: right;
    position: relative;
    max-width: 80%;
    float: right;
    margin-right: 15px;
    transition: opacity .3s ease;
}

.BA_chat_mid_msg_sentMessage_message-text {
    color: #262626;
    text-align: left;
    display: inline-block;
    background-color: #EEEEEE;
    padding: 8px 10px;
    border-radius: 10px;
    word-wrap: break-word;
    word-break: break-word;
    line-height: 1.3;
}

.BA_chat_mid_msg_sentMessage_message-text a {
    font-size: 1em;
    text-decoration: underline;
    word-break: break-word;
    color: #00abe8;
}

.BA_chat_mid_msg_sentMessage_message-date {
    color: #b2b2b2;
    padding: 5px 10px 0;
    width: 100%;
    text-align: right;
}

.BA_chat_bot {
    z-index: 100000;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
    border-top: 1px solid #ededed;
    border-radius: 0 0 3px 3px;
    background-color: white;
}

.BA_chat_bot_msg {
    font-size: 13px;
    position: relative;
    height: 78px;
    background-color: white;
    padding: 5px 10px 10px;
    z-index: 2;
    border-radius: 0 0 3px 3px;
}

.BA_chat_bot_msg:after {
    z-index: 10000;
    content: '';
    background: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.BA_chat_bot_msg:before {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: 1px;
    height: 6px;
    right: 17px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, white 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(50%, white), color-stop(80%, rgba(255, 255, 255, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, white 80%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, white 80%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, white 80%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, white 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
    z-index: 0;
    pointer-events: none;
}

.BA_chat_bot_msg-textarea {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    resize: none;
    border: none;
    padding: 10px !important;
    width: 92% !important;
    height: 33px;
    min-height: 33px !important;
    line-height: 1.4;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    outline: none;
    margin-bottom: 5px !important;
    position: relative;
    font-size: 1.2em;
    font-weight: 100;
    color: #2B2B2B;
}

.BA_chat_bot_msg-textarea::placeholder {
    color: #B7B7B7;
}

.BA_chat_bot_msg-send {
    text-transform: uppercase;
    transition: color .2s ease;
    letter-spacing: .5px;
    cursor: pointer;
    float: right;
    z-index: 10;
}

.BA_btnBg {
    border: none;
    background-color: #132f5b;
    color: white;
    border-radius: 3px;
    text-transform: none;
    padding: 5px;
    margin: 5px;
}