<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>I Learn Vue.js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <link href="chat.css" rel="stylesheet">

    <div class="BA_chat" style="left: 970px; top: 20px; position: fixed;">
        <div class="BA_chat_top-wrapper">
            <!-- FRAME TOP -->
            <div class="BA_chat_top">
                <div class="BA_chat_top-allHeading BA-heading">БилетАвто</div>
                <div class="BA_chat_top-msgHeading BA-description">веб-чат с компанией</div>
                <div class="BA_chat_top-icoX" data-onclick="BA.chat.hide()"></div>
            </div>
        </div>
        <div class="BA_chat_mid-wrapper">
            <!-- FRAME MIDDLE -->
            <div class="BA_chat_mid" style="">
                <!-- ИНТЕРФЕЙС ЧАТА -->
                <div class="BA_chat_mid_msg">
                    <div class="BA_message-sent ocAnimation-fadeIn">
                        <!-- ИНТЕРФЕЙС ИСХОДЯЩЕГО СООБЩЕНИЯ -->
                        <div class="BA_chat_mid_msg_sentMessage">
                            <div class="BA_chat_mid_msg_sentMessage_message">
                                <div class="BA_chat_mid_msg_sentMessage_message-text BA-text">тест</div>
                                <div class="BA_chat_mid_msg_sentMessage_message-date BA-description">Вы 16 апреля в 14:04</div>
                            </div>
                        </div>
                    </div>
                    <div class="BA_message-received ocAnimation-fadeIn BA-message-group">
                        <!-- ИНТЕРФЕЙС ВХОДЯЩЕГО СООБЩЕНИЯ -->
                        <div class="BA_chat_mid_msg_receivedMessage">
                            <div class="BA_chat_mid_msg_receivedMessage_message">
                                <div class="BA_chat_mid_msg_receivedMessage_message-text BA-text">Добро пожаловать! В течение нескольких минут вам ответит наш специалист.</div>
                                <div class="BA_chat_mid_msg_receivedMessage_message-date BA-description">Марианна 16 апреля в 14:04</div>
                            </div>
                        </div>
                    </div>
                    <div class="BA_message-received ocAnimation-fadeIn">
                        <!-- ИНТЕРФЕЙС ВХОДЯЩЕГО СООБЩЕНИЯ -->
                        <div class="BA_chat_mid_msg_receivedMessage">
                            <div class="BA_chat_mid_msg_receivedMessage_message">
                                <div class="BA_chat_mid_msg_receivedMessage_message-text BA-text">Здравствуйте! Меня зовут Марианна, чем я могу Вам помочь?</div>
                                <div class="BA_chat_mid_msg_receivedMessage_message-date BA-description">Марианна 16 апреля в 14:05</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="BA_chat_bot-wrapper">
            <!-- Форма ввода сообщения -->
            <div class="BA_chat_bot">
                <textarea placeholder="Введите текст сообщения" class="BA_chat_bot_msg-textarea" style="height: 33px;"></textarea>
                <div class="BA_btnBg BA_chat_bot_msg-send" data-onclick="BA.chat.msg.message.send()">Отправить</div>
            </div>
            <!-- Конец формы ввода -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        Vue.component('todo-item', {
            props: ['index', 'title', 'note', 'isedit'],
            methods: {
                showForm: function(index) {
                    //alert('Во внутреннюю функцию зашёл, индекс: ' + index);
                    this.$emit('show', index);
                },
                hideForm: function(index, title, note) {
                    this.$emit('hide', index, title, note);
                }
            },
            template: ' \
            <div class="todo-item-elem">\
                <div class="content" v-show="!isedit">\
                    <h4 class="zero-margin">{{ title }}</h4>\
                    <small class="text-muted">{{ note }}</small>\
                    <div class="text-right">\
                        <i class="fa fa-pencil-square-o cur_btn" aria-hidden="true" v-on:click="showForm(index)"></i>\
                        <i class="fa fa-trash cur_btn" aria-hidden="true" v-on:click="$emit(\'remove\')"></i>\
                    </div>\
                </div>\
                <div class="content" v-show="isedit">\
                    <div class="ui form">\
                        <div class="field">\
                            <label>Заметка</label>\
                            <input class="form-control" type="text" v-model="title">\
                            <label>Примечание</label>\
                            <input class="form-control" type="text" v-model="note">\
                        </div>\
                        <div class="todo-btn">\
                            <button class="btn btn-danger btn-block" v-on:click="hideForm(index, title, note)"> \
                                <label>Закрыть</label> \
                            </button>\
                        </div>\
                    </div>\
                </div>\
            </div>',
        })
        new Vue({
            el: '#todo-list-example',
            data: {
                newTodoTitle: '',
                newTodoNote: '',
                todos: [{
                    id: 0,
                    title: 'Todo B',
                    note: 'Project B',
                    isedit: false
                }],
                nextTodoId: 1
            },
            methods: {
                addNewTodo: function() {
                    if (this.newTodoTitle != '' && this.newTodoNote != '') {
                        this.todos.push({
                            id: this.nextTodoId++,
                            title: this.newTodoTitle,
                            note: this.newTodoNote,
                            isedit: false
                        })
                        this.newTodoTitle = '';
                        this.newTodoNote = '';
                        //alert(this.todos[this.nextTodoId-1].isedit);
                    } else {
                        alert('Пожалуйста, заполните поля');
                    }
                },
                show: function(index) {
                    //this.todos[index].isedit = true;
                    for (let key in this.todos) {
                        //console.log(this.todos[key]);
                        if (this.todos[key].id == index) {
                            this.todos[key].isedit = true;
                        }
                    }
                },
                hide: function(index, title, note) {
                    for (let key in this.todos) {
                        //console.log(this.todos[key]);
                        if (this.todos[key].id == index) {
                            this.todos[key].isedit = false;
                            this.todos[key].title = title;
                            this.todos[key].note = note;
                        }
                    }
                }
            }
        })

    </script>
</body>

</html>
