<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Чат БилетАвто</title>
    <link href="/assets/bilet/css/chat.css" rel="stylesheet">
    <link href="chat.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
</head>

<body>
    <div class="chat-bar" id="chat-bar">
        <div class="bar-wrapper" style="display:block">
            <div class="bar-outerPanel">
                <div class="bar-outerPanel-text">напишите нам</div>
                <div class="bar-outerPanel-ico">
                    <i class="fa fa-comment" style="transform: scale(1); opacity: 1;"></i>
                </div>
            </div>
            <div class="bar-innerPanel">
                <div class="bar-innerPanel-webChat" onclick="chatShow()"></div>
                <div class="bar-innerPanel-webChat-tooltip ocWidget-text">Написать в чат на сайте</div>
            </div>
        </div>
    </div>
    
    <div class="BA_chat" id="BA_chat" style="top: 69px; position: fixed;" hidden="hidden">
        <div id="BA_chat_brain">
            <div class="BA_chat_top-wrapper">
                <div class="BA_chat_top">
                    <div class="BA_chat_top-allHeading BA-heading">БилетАвто</div>
                    <div class="BA_chat_top-icoX" onclick="closeChat()"></div>
                </div>
            </div>
            <div class="BA_chat_mid-wrapper">
                <div class="BA_chat_mid">
                    <div class="BA_chat_mid_msg" id="block">
                        <div class="BA_message-received ocAnimation-fadeIn BA-message-group">
                            <div class="BA_chat_mid_msg_receivedMessage">
                                <div class="BA_chat_mid_msg_receivedMessage_message">
                                    <div class="BA_chat_mid_msg_receivedMessage_message-text BA-text">
                                        Я — бот БилетАвто. Спасибо, что написали!<br> Пожалуйста, выберите команду по интересующей Вас теме:<br> 1 – Вас интересует расписание?<br> 2 – Стоимость проезда<br> 3 – Телефон автостанции<br> 4 – Хотите забронировать билет<br> 5 – Покупка билета<br> 6 – Что делать, если по выбранному билету нет данных о расписании<br> 7 – Возврат билета<br> 8 – Замена билета<br> 9 – Проблемы технического характера, прочие вопросы</div>
                                </div>
                            </div>
                        </div>
                        <div is='message-item' v-for="(message, index) in messages" v-if="index != 0" :key="message.id" v-bind:clientmessage='message.client' v-bind:chatmessage='message.chat'></div>
                    </div>
                </div>
            </div>
            <div class="BA_chat_bot-wrapper">
                <div class="BA_chat_bot">
                    <input type="number" min="1" max="10" placeholder="Введите номер команды" class="BA_chat_bot_msg-textarea" style="height: 33px;" v-model="clientMessage" v-on:keyup.enter="sendMessage">
                    <div class="BA_btnBg BA_chat_bot_msg-send" v-on:click="sendMessage">Отправить</div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>        
        function scrollMessage() { 
            setTimeout(function() {
                var block = document.getElementById("block");
                block.scrollTop = block.scrollHeight + 9999;
            }, 500);
        }
        
        function chatShow() {
            $('#chat-bar').hide(1000);
            $('#BA_chat').delay(600).show(1000);
        }
        
        function closeChat() {
            $('#BA_chat').hide(1000);
            $('#chat-bar').delay(400).show(1000);
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/marked@0.3.6"></script>
    <script src="https://unpkg.com/lodash@4.16.0"></script>
    <script>
        Vue.component('message-item', {
            props: ['clientmessage', 'chatmessage', 'compiledMarkdown'],
            template: '\
                <div>\
                    <div class="BA_message-sent ocAnimation-fadeIn">\
                        <div class="BA_chat_mid_msg_sentMessage">\
                            <div class="BA_chat_mid_msg_sentMessage_message">\
                                <div class="BA_chat_mid_msg_sentMessage_message-text BA-text">{{ clientmessage }}</div>\
                            </div>\
                        </div>\
                    </div>\
                    <div class="BA_message-received ocAnimation-fadeIn BA-message-group">\
                        <div class="BA_chat_mid_msg_receivedMessage">\
                            <div class="BA_chat_mid_msg_receivedMessage_message">\
                                <div class="BA_chat_mid_msg_receivedMessage_message-text BA-text" v-html="chatmessage">{{ chatmessage }}</div>\
                            </div>\
                        </div>\
                    </div>\
                </div>\
            '
        })
        new Vue({
            el: '#BA_chat_brain',
            computed: {
                compiledMarkdown: function() {
                    return marked(this.clientMessage, {
                        sanitize: true
                    })
                }
            },
            data: {
                clientMessage: '',
                variations: [{
                        id: 1,
                        answer: 'Расписание движения автобусов можно посмотреть на сайте в разделе <a href="https://biletavto.ru/schedule/" target="_blank">Расписание</a>. Нужно указать пункт отправления автобуса и пункт прибытия, а также желаемую дату отправления<br> \
                        После этого отобразится расписание автобусов по данному маршруту с указанием времени отправления, времени следования в пути, а также стоимости билета.'
                    },
                    {
                        id: 2,
                        answer: 'Для того, чтобы узнать стоимость проезда автобусов необходимо в разделе <a href="https://biletavto.ru/schedule/" target="_blank">Расписание</a> указать пункт отправления автобуса и пункт прибытия, а также желаемую дату отправления. \
                        После этого отобразится стоимость билета, а также расписание автобусов по данному маршруту с указанием времени отправления и времени следования в пути.'
                    },
                    {
                        id: 3,
                        answer: 'Телефоны автовокзалов доступны по ссылке <a href="https://biletavto.ru/telefony-avtovokzalov/" target="_blank">Телефоны автовокзалов</a>\
                        В строке поиска введите нужный город'
                    },
                    {
                        id: 4,
                        answer: 'К сожалению, забронировать билет на сайте невозможно, можно лишь приобрести его самостоятельно, нажав на желтую кнопку "Купить".'
                    },
                    {
                        id: 5,
                        answer: 'Подробная инструкции покупки билета доступна по ссылке <a href="https://biletavto.ru/faq#f0" target="_blank">в разделе "Вопросы и Ответы"</a>'
                    },
                    {
                        id: 6,
                        answer: 'К сожалению данный рейс к нашей системе не подключен, вы можете уточнить необходимую информацию, позвонив на автовокзал. Телефон вы можете посмотреть по ссылке <a href="https://biletavto.ru/telefony-avtovokzalov/" target="_blank">Телефоны автовокзалов</a>. В строке поиска введите нужный город'
                    },
                    {
                        id: 7,
                        answer: 'Для того, чтобы вернуть билет и получить его стоимость обратно необходимо в личном кабинете зайти в "Мои заказы". Далее. выбрав оплаченный рейс, нажать на кнопку "Возврат билета". Заполнив необходимые поля (номер вашей карты), нажать на кнопку "Отправить". Тем самым, автоматически сформируется заявление на возврат. \
                        Сумма возврата зависит от условий Перевозчика, а также от времени, которое осталось до поездки. Чем раньше Вы оформили возврат, тем большую сумму вернете. Билет можно вернуть только до отправления автобуса, после отправления автобуса билет возврату не подлежит. Подробнее <a href="https://biletavto.ru/faq#f7" target="_blank">в разделе "Вопросы и Ответы"</a>'
                    },
                    {
                        id: 8,
                        answer: 'К сожалению, обменять билет (на другую дату или время/место) на сайте невозможно, можно лишь оформить возврат и приобрести новый. Для того, чтобы оформить возврат билета необходимо в личном кабинете зайти в "Мои заказы". Далее. выбрав оплаченный рейс, нажать на кнопку "Возврат билета"'
                    },
                    {
                        id: 9,
                        answer: 'Если у вас проблема с оплатой, не пришёл эл. билет на почту либо другая техническая ошибка – обратитесь на почту тех. поддержки сайта <a href="mailto: info@biletavto.ru">info@biletavto.ru</a>'
                    }
                ],
                messages: [{
                    client: 'debug',
                    chat: 'debug'
                }]
            },
            methods: {
                sendMessage: function() {
                    if(this.clientMessage != '') {
                        for (var key in this.variations) {
                            if (this.variations[key].id == this.clientMessage) {
                                var saveKey = key;
                            }
                        }
                        if (saveKey) {
                            this.messages.push({
                                client: this.clientMessage,
                                chat: this.variations[saveKey].answer
                            })
                        } else {
                            this.messages.push({
                                client: this.clientMessage,
                                chat: 'Введите корректную команду'
                            })
                        }
                        this.clientMessage = ''
                        scrollMessage()
                    }
                },
                update: _.debounce(function(e) {
                    this.clientMessage = e.target.value
                }, 300)
            }
        })
    </script>
</body>

</html>
